<extend name="Public:base" />
<block name="head">
<link href="/Public/tipplug/bootstrap/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script type="text/javascript" charset="utf-8" src="/Public/tipplug/bootstrap/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/Public/tipplug/bootstrap/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<link href="/Public/tipplug/bootstrap/fileinput/css/fileinput.min.css" rel="stylesheet">
</block>
<block name="main">
	<!-- Page Heading -->
	<div class="row">
	    <div class="col-lg-12">
			<ol class="breadcrumb">
			    <li>
			        <i class="fa fa-dashboard"></i>  <a href="{:U('Index/index')}">仪表盘</a>
			    </li>
			    <li>
			        <i class="fa fa-edit"></i> <a href="{:U('Content/ctmdisplay',array('logic'=>'article','action'=>'list'))}">文章管理</a>
			    </li>
			     <li class="active">
			        <i class="fa fa-edit"></i> 编辑文章
			    </li>
			</ol>
	    </div>
	</div>
	<!-- /.row -->
	
    <div class="row">
    <div class="col-lg-12">
       <form role="form" action="{:U('Admin/cud_proxy',array('model'=>'article','layer'=>'Logic','action'=>'U'))}" method="post">
	       <div class="form-group">
               <label>文章名称</label>
               <input class="form-control" type="text" placeholder="文章名称" name="name" value="{$ctminfo.name}">
           </div>
           <div class="form-group">
               <label>文章短名称(不要超过11个字)</label>
               <input class="form-control" type="text" placeholder="文章短名称" name="shortname" value="{$ctminfo.shortname}">
           </div>
           <div class="form-group">
               <label>所属栏目</label>
               <select class="form-control" name="secid">
			       <foreach name="sectionList" item="vo">
	               <option <if condition="$vo['id'] eq $ctminfo['secid']"> selected = "selected"</if> value="{$vo.id}"><if condition="$vo['parent'] neq 0 ">|</if><?php echo str_repeat('_',$vo['level']*4); ?>{$vo.name}</option>
	               </foreach>
               </select>
           </div>
	       <div class="form-group">
               <label>文章描述</label>
               <input class="form-control" type="text" placeholder="文章描述" name="description" value="{$ctminfo.description}">
           </div>
           <div class="form-group">
               <label>缩略图</label>
               <img id="tupimgaaa" style="height:180px;width:180px;" class="img-thumbnail" src="/Uploads/{$ctminfo.thumbnails}" alt="http://placehold.it/48x48"/>
               <input type="hidden" id="thumbnails" name="thumbnails" value="{$ctminfo.thumbnails}"/>
               <input id="aritcle" type="file"/>
           </div>
           <div class="form-group">
               <label>是否发布</label>
               <label class="radio-inline">
                   <input value='1' name="is_active" type="radio" <if condition="$ctminfo['is_active'] eq 1">checked="checked"</if>>是
               </label>
               <label class="radio-inline">
                   <input value='0' name="is_active" type="radio" <if condition="$ctminfo['is_active'] eq 0">checked="checked"</if>>否
               </label>
           </div>
          	<div class="form-group">
               <label>是否首页推荐</label>
               <label class="radio-inline">
                   <input value='1' name="is_recommend" type="radio" <if condition="$ctminfo['is_recommend'] eq 1">checked="checked"</if>>是
               </label>
               <label class="radio-inline">
                   <input value='0' name="is_recommend" type="radio" <if condition="$ctminfo['is_recommend'] eq 0">checked="checked"</if>>否
               </label>
           </div>
           <div class="form-group">
               <label>是否热门</label>
               <label class="radio-inline">
                   <input value='1' name="is_hot" type="radio" <if condition="$ctminfo['is_hot'] eq 1">checked="checked"</if>>是
               </label>
               <label class="radio-inline">
                   <input value='0' name="is_hot" type="radio" <if condition="$ctminfo['is_hot'] eq 0">checked="checked"</if>>否
               </label>
       		</div>
           <div class="form-group">
               <label>发布时间</label>
               <input class="form-control span2" type="text" id="date_release" name="date_release" value="{$ctminfo.date_release}">
           </div>
           <div class="form-group">
               <label>文章内容</label>
               <textarea name="content" id="content" cols="30" rows="20">{$ctminfo.content}</textarea>
           </div>
           <input type="hidden" name="id" value="{$ctminfo.id}"/>
           <button type="submit" class="btn btn-primary" id="userbtn"> 提 交 </button>
       </form>
   </div>
   </div>
   <!-- /.row -->
</block>
<block name="js">
<script type="text/javascript" charset="utf-8" src="/Public/tipplug/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/Public/tipplug/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="/Public/tipplug/bootstrap/fileinput/js/fileinput.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/Public/tipplug/bootstrap/fileinput/js/fileinput_locale_zh.js"></script>
<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    UE.getEditor('content');

    $('#date_release').datetimepicker({
    	  format:'yyyy-mm-dd HH:ii:ss',
          weekStart: 1,
          todayBtn:  1,
		  autoclose: 1,
    });
</script>
<script>
/*初始化bootstrap文件上传控件*/
function initFileInput(ctrlName, uploadUrl) {    
    var control = $('#' + ctrlName); 
    control.fileinput({
        language: 'zh', //设置语言
        uploadAsync: true,
        uploadUrl: uploadUrl, //上传的地址
        allowedFileExtensions : ['jpg','png','gif','jpeg'],//接收的文件后缀
        showUpload: true, //是否显示上传按钮
        showCaption: true,//是否显示标题
        browseClass: "btn btn-primary", //按钮样式             
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
    });
}

$(function(){
	initFileInput("aritcle","{:U('Public/upload',array('type'=>'A'))}");
});
$("#aritcle").on("fileuploaded",function(event,data,previewld,index){
	//alert(JSON.stringify(data));
	//alert(data.response.url)
	$('#thumbnails').val(data.response.url);
	$("#tupimgaaa").attr('src','/Uploads/' + data.response.url); 
})
</script>
</block>