<extend name="Public:base" />
<block name="title">添加地址</block>
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/css/addAddress.css">
</block>
<block name="backurl">
{:U('User/index')}
</block>
<block name="main">
	<!-- 主体开始 -->
	<div class="main">
		<form action="{:U('User/createAddress')}" method="post">
			<input type="text" name="name" placeholder="输入姓名："/>
			<input type="text" name="phone" placeholder="输入手机号码："/>
			<textarea name="address" rows="3" cols="50" class="form-control"  placeholder="送货地址："></textarea>	
			<input class="btn" type="submit" value="提交"/>
		</form>
	</div>
	<!-- 主体结束 -->
</block>