<extend name="Public:base" />
<block name="title">{$cname}</block>
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/css/bulletin.css">
</block>
<block name="main">
	<!-- 主体开始 -->
	<ul class="bulletin">
		<li>
			<div class="leftbu">
				<img src="__PUBLIC__/img/rili.png" alt="">
				<div class="date">
					<p class="day">9</p>
					<p class="year">16-4</p>
				</div>
			</div>
			<div class="rightbu">
				<h4>网站素材整理重要公告！</h4>
				<p>为了素材公社网能更好的发展，网站对于素材评级太低，品质不高的素材，会做一定的整理！为了素材公社网能更好的发展，网站对于素材评级太低，品质不高的素材，会做一定的整理！为了素材公社网能更好的发展！</p>
			</div>
		</li>
		
		<li>
			<div class="leftbu">
				<img src="__PUBLIC__/img/rili.png" alt="">
				<div class="date">
					<p class="day">9</p>
					<p class="year">16-4</p>
				</div>
			</div>
			<div class="rightbu">
				<h4>网站素材整理重要公告！</h4>
				<p>为了素材公社网能更好的发展，网站对于素材评级太低，品质不高的素材，会做一定的整理！为了素材公社网能更好的发展，网站对于素材评级太低，品质不高的素材，会做一定的整理！为了素材公社网能更好的发展！</p>
			</div>
		</li>
		
		
		<li>
			<div class="leftbu">
				<img src="__PUBLIC__/img/rili.png" alt="">
				<div class="date">
					<p class="day">10</p>
					<p class="year">16-4</p>
				</div>
			</div>
			<div class="rightbu">
				<h4>网站素材整理重要公告！</h4>
				<p>为了素材公社网能更好的发展，网站对于素材评级太低，品质不高的素材，会做一定的整理！为了素材公社网能更好的发展，网站对于素材评级太低，品质不高的素材，会做一定的整理！为了素材公社网能更好的发展！</p>
			</div>
		</li>
		
		<li>
			<div class="leftbu">
				<img src="__PUBLIC__/img/rili.png" alt="">
				<div class="date">
					<p class="day">12</p>
					<p class="year">16-4</p>
				</div>
			</div>
			<div class="rightbu">
				<h4>网站素材整理重要公告！</h4>
				<p>为了素材公社网能更好的发展，网站对于素材评级太低，品质不高的素材，会做一定的整理！为了素材公社网能更好的发展，网站对于素材评级太低，品质不高的素材，会做一定的整理！为了素材公社网能更好的发展！</p>
			</div>
		</li>

		
		
	</ul>
	<!-- 主体结束 -->
		
<block name="js">
<script>

</script>
</block>

