<extend name="Public:base" />
<block name="title">购物车</block>
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/css/cart.css">
</block>
<!-- 头部 -->
<block name='backurl'>javascript:history.go(-1)</block>
<block name="middle">
	<div class="search">
	<input type="text" placeholder="输入搜索内容"/>
	<span class="iconfont">&#xe638;</span>
	</div>
</block>
<!-- 头部结束 -->

<!-- 主体开始 -->
<block name="main">
	<empty name="cartlist">
		<script>empty('cart',"{:U('Goods/getallgoods')}")</script>
		<style>footer {border-top:none;}</style>
	<else/>
	<a href="{:U('Goods/deleteCart')}" onclick="return confirm('是否清空购物车？')">
		<div class="deleteAll">清空</div>
	</a>
	<div class="main">
		<ul>
			<foreach name="cartlist" item="vo">
			<li>
				<a class="img" href="{:U('Goods/getgoodsdetail',array('id'=>urlencode($vo['nbbm'])))}">
					<img src="<if condition="$vo['thumbnails']==''">__PUBLIC__/img/none.png<else/>/Uploads/{$vo.thumbnails}</if>"alt="">
				</a>
				<div class="info">
					<p>{$vo.ypm}  {$vo.gg}</p>
					<p>{$vo.ypcj} </p>
					<span class="money">￥<strong>{$vo.ypdj}</strong></span>
					<span class="sail">零售价：￥{$vo.lsj}</span>
					<span class="num">库存：{$vo.kcs}</span>
					<div class="addsub">
						<button class="sub">-</button>
						<input class="quantity" type="tel" value="{$vo.quantity}"/>
						<input type="hidden" value="{$vo.nbbm}" />
						<button class="add">+</button>
					</div>
				</div>
			</li>
			</foreach>
		
		</ul>
	</div>
	</empty>
</block>
<!-- 主体结束 -->

<block name="footer">
<notempty name="cartlist">
{:W('Gall/cartbuttom')}
</notempty>
</block>

<block name="js">
</block>
