<extend name="Public:base" />
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/css/cart.css">
</block>
<!-- 头部 -->
<block name="header">
	<nav>
		<a class="return" href="javascript:history.back()">
			<span class="iconfont">&#xe611;</span>	
		</a>
		<div class="search">
		<input type="text" placeholder="输入搜索内容"/>
		<span class="iconfont">&#xe638;</span>
		</div>
		<span class="phone iconfont">&#xe61f;</span>
	</nav>	
</block>
<!-- 头部结束 -->

<!-- 主体开始 -->
<block name="main">
	<div class="main">
		<ul>
			<li>
				<a class="img" href="detail.html">
					<img src="img/amxl.jpg" alt="">
				</a>
				<div class="info">
					<p>阿莫西林 0.125g*50</p>
					<span class="money">￥50</span>
					<span class="num">库存：1546</span>
					<div class="addsub">
						<button class="sub">-</button>
						<input type="text" value="5"/>
						<button class="add">+</button>
					</div>
				</div>
			</li>
			
			<li>
				<a class="img" href="detail.html">
					<img src="img/amxl.jpg" alt="">
				</a>
				<div class="info">
					<p>阿莫西林 0.125g*50</p>
					<span class="money">￥50</span>
					<span class="num">库存：1546</span>
					<div class="addsub">
						<button class="sub">-</button>
						<input type="text" value="5"/>
						<button class="add">+</button>
					</div>
				</div>
			</li>

			<li>
				<a class="img" href="detail.html">
					<img src="img/amxl.jpg" alt="">
				</a>
				<div class="info">
					<p>阿莫西林 0.125g*50</p>
					<span class="money">￥50</span>
					<span class="num">库存：1546</span>
					<div class="addsub">
						<button class="sub">-</button>
						<input type="text" value="5"/>
						<button class="add">+</button>
					</div>
				</div>
			</li>
		
		</ul>
	</div>
</block>
<!-- 主体结束 -->

<block name="footer">
	<div class="left">
	<span class="iconfont smallred">&#xe643;</span>
	<span class="money">总价钱：￥351</span>
	</div>
	<a class="right" href="confirmO.html">			
		确认订单	
	</a>
</block>

<block name="js">
<script src="js/smallred.js"></script>
<script>
	$(function(){	
			smallred_init(20,30,18,5,-15,13); /*参数: 弧度 width height top right 字体大小*/
			smallred_setnum(1000);
	})
</script>
</block>
