<extend name="Public:base" />
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/css/confirmO.css">
</block>

<!-- 头部-->
<block name="header">
	<nav>
		<a class="return" href="javascript:history.back()">
			<span class="iconfont">&#xe611;</span>	
		</a>
		<h4><a href="index.html">太阳升订单系统</a></h4>
	</nav>
</block>
<!-- 头部结束-->

<block name="main">
	<div class="main">
		<h4>送货信息：</h4>
		<div class="peopleinfo">
			<div class="group">
				<input type="text" placeholder="收货人姓名">
				<button>选择</button>
			</div>
			<div class="group">
				<input type="text" placeholder="手机号码">
				<button>选择</button>
			</div>
			<div class="group">
				<input type="text" placeholder="详细地址">
				<button>选择</button>
			</div>
		</div>
		<div class="span">
			<span>药品清单：</span>
			<p class="edit">
				<span class="iconfont">&#x3433;</span>修改
			</p>
		</div>
		
		<div class="goodsinfo">
			<ul>
				<li>
					<span class="name">阿莫西林</span>
					<span class="price">￥9.90</span>
					<div class="addsub">
						<button class="sub">-</button>
						<input type="text" value="5"/>
						<button class="add">+</button>
					</div>
				</li>

				<li>
					<span class="name">阿莫西林</span>
					<span class="price">￥9.90</span>
					<div class="addsub">
						<button class="sub">-</button>
						<input type="text" value="5"/>
						<button class="add">+</button>
					</div>
				</li>

				<li>
					<span class="name">阿莫西林</span>
					<span class="price">￥9.90</span>
					<div class="addsub">
						<button class="sub">-</button>
						<input type="text" value="5"/>
						<button class="add">+</button>
					</div>
				</li>
				
			</ul>
		</div>
	</div>
</block>

<!-- 底部开始 -->
<block name="footer">
	<a href="success.html">
		<button>提交订单</button>
	</a>	
</block>
<!-- 底部结束 -->
