<extend name="Public:base" />
<block name="title">
{$detail.ypm}
</block>
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/css/detail.css">
</block>
<block name="main">
	<div class="main">
		<div class="info">
			<div class="img">
				<img src="<if condition="$detail['thumbnails'] ==''">__PUBLIC__/img/none.png<else/>/Uploads/{$detail.thumbnails}</if>" alt="{$detail.ypm}">
			</div>
			<div class="content">
				<span class="price">￥<strong>{$detail.ypdj}</strong></span>
				<span class="sail">零售价：￥{$detail.lsj}</span>
				<span class="num">库存:{$detail.kcs}</span>
				<p class="name">{$detail.ypm}  {$detail.gg}</p>
				<span style="display:none"><strong>{$detail.ypdj}</strong></span>
				<span style="display:none"></span>
				<p class="place">{$detail.ypcj}</p>
				<div class="addsub">
						<button class="sub">-</button>
						<input class="quantity" type="tel" value="<?php 
						$var=0;
						$arr=session('cart'); 
						foreach($arr as $k=>$v) {
						if ($k == $detail['nbbm'] ) {
						$var=$v;break;} 
						} 
						echo $var; 
						?>"/>
						<input type="hidden" value="{$detail.nbbm}" />
						<button class="add">+</button>
				</div>	
			</div> 
		</div>
		<div class="detailInfo">
			<php>echo html_entity_decode($detail['content'])</php>
		</div>
	</div>
</block>
<!-- 底部开始 -->
<block name="footer">
{:W('Gall/cartbuttom')}
</block>
<!-- 底部结束 -->
<block name="js">
</block>


