<extend name="Public:base" />
<block name="title">
{$detail.ypm}
</block>
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/css/detail.css">
</block>

<!-- 头部-->
<block name="header">
	<nav>
		<a class="return" href="javascript:history.back()">
			<span class="iconfont">&#xe611;</span>	
		</a>
		<h4><a href="/">太阳升订单系统</a></h4>
	</nav>
</block>
<!-- 头部结束-->

<block name="main">
	<div class="main">
		<div class="info">
			<div class="img">
				<img src="__PUBLIC__/img/amxl.jpg" alt="">
			</div>
			<div class="content">
				<span class="price">￥<strong>{$detail.lsj}</strong></span>
				<span class="num">库存:{$detail.kcs}</span>
				<p class="name">{$detail.ypm}  {$detail.gg}</p>
				<span style="display:none"><strong>{$detail.lsj}</strong></span>
				<p class="place">{$detail.ypcj}</p>
				<div class="addsub">
						<button class="sub">-</button>
						<input class="quantity" type="text" value="<?php 
						$var=0;
						$arr=session('cart'); 
						foreach($arr as $k=>$v) {
						if ($k == $detail['nbbm'] ) {
						$var=$v;break;} 
						} 
						echo $var; 
						?>"/>
						<input type="hidden" value="{$detail.nbbm}" />
						<button class="add">+</button>
				</div>	
			</div> 
		</div>
		<div class="detailInfo">
			没有详细信息
		</div>
	</div>
</block>
<!-- 底部开始 -->
<block name="footer">
{:W('Gall/cartbuttom')}
</block>
<!-- 底部结束 -->
<block name="js">
</block>


