<extend name="Public:base" />
<block name="head">
<link rel="stylesheet" href="__PUBLIC__/css/list.css">
</block>
<block name="main">
<!-- 主体 -->
	<div class="container content" style="margin-top:0;">
		<ul>
			<li>
				<span>订单号：</span>
				<span>4416779</span>
				<span class="right">待付款</span>
			</li>
			<li>
				<span>订单金额：</span>
				<span>￥378.00</span>

			</li>
			<li>
				<span>运费金额：</span>
				<span>￥10.00</span>
			</li>
			<li>
				<span>下单时间：</span>
				<span>2016-07-24 09:45:01</span>
				<a href="mdorder.html" class="tright">
					<span >立即支付</span>
				</a>
				
			</li>
		</ul>
	</div>
	
	<div class="container content">
		<ul>
			<li>
				<span>收货人姓名：</span>
				<span>小明</span>
			</li>
			<li>
				<span>手机：</span>
				<span>17889563265</span>
			</li>
			<li>
				<span>详细地址：</span>
				<span>海南省海口市桂林洋镇</span>
			</li>
		</ul>
	
	</div>	
	
	<div class="container content">
		<div class="row detail">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<img src="img/slide2.jpg" class="img-responsive" alt="" style="margin-top:10px;">
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h4>格力空调</h4>
				<h6 style="color:#cd0000">￥179.00</h6>
				<h6>x3</h6>
			</div>
			
		</div>
		<div class="row detail">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<img src="img/slide2.jpg" class="img-responsive" alt="" style="margin-top:10px;">
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h4>格力空调</h4>
				<h6 style="color:#cd0000">￥179.00</h6>
				<h6>x3</h6>
			</div>
			
		</div>
		<div class="row detail">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<img src="img/slide2.jpg" class="img-responsive" alt="" style="margin-top:10px;">
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<h4>格力空调</h4>
				<h6 style="color:#cd0000">￥179.00</h6>
				<h6>x3</h6>
			</div>
			
		</div>
	</div>
</block>