<extend name="Public:base" />
<block name="title">
订单详情
</block>
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/css/orderdetail.css">
</block>
<block name="pageinfo">4</block>
<block name="other">
	<ul class="tab">
		<li class="left">
			订单状态
		</li>
		<li class="right">
			订单详情
		</li>
	</ul>
</block>
<block name="main">
<div class="status">
		<if condition="checkstr('G',$order['status'])">
		<div class="orderstatus">
		 	<div class="left">
		 		<div class="line"></div>
		 		<div class="bg">
		 			<span class="iconfont people">&#xe62f;</span>
		 		</div>	
		 	</div>
		 	<div class="right">		
		 		<div class="triout"></div>	
		 		<div class="triin"></div>	
		 		<div class="content">
		 			<span class="l">订单已提交</span><span class="r"></span>
		 			<p>等待总部处理中。。。</p>
		 		</div>		
		 	</div>
		</div>
		</if>
		<if condition="checkstr('C',$order['status'])">
		<div class="orderstatus">
		 	<div class="left">
		 		<div class="line"></div>
		 		<div class="bg">
		 			<span class="iconfont people">&#xe61c;</span>
		 		</div>	
		 	</div>
		 	<div class="right">		
		 		<div class="triout"></div>	
		 		<div class="triin"></div>	
		 		<div class="content">
		 			<span class="l">总部已确认</span><span class="r"></span>
		 			<p>等待配货中。。。</p>
		 		</div>		
		 	</div>
		</div>
		</if>
		<if condition="checkstr('S',$order['status'])">
		<div class="orderstatus">
		 	<div class="left">
		 	<div class="line"></div>
		 		<div class="bg">
		 			<span class="iconfont people">&#xe637;</span>
		 		</div>	
		 	</div>
		 	<div class="right">		
		 		<div class="triout"></div>	
		 		<div class="triin"></div>	
		 		<div class="content">
		 			<span class="l">订单配送中</span><span class="r"></span>
		 			<p>药品配送中，等待收货</p>
		 		</div>		
		 	</div>
		</div>
		</if>
		<if condition="checkstr('R',$order['status'])">
		<div class="orderstatus">
		 	<div class="left">
		 	<div class="line"></div>
		 		<div class="bg">
		 			<span class="iconfont people">&#xe653;</span>
		 		</div>	
		 	</div>
		 	<div class="right">		
		 		<div class="triout"></div>	
		 		<div class="triin"></div>	
		 		<div class="content">
		 			<span class="l">订单完成</span><span class="r"></span>
		 			<p>欢迎您再次订单</p>
		 		</div>		
		 	</div>
		</div>
		</if>
		<if condition="checkstr('O',$order['status'])">
		<div class="orderstatus">
		 	<div class="left">
		 	<div class="line"></div>
		 		<div class="bg">
		 			<span class="iconfont people">&#xe653;</span>
		 		</div>	
		 	</div>
		 	<div class="right">		
		 		<div class="triout"></div>	
		 		<div class="triin"></div>	
		 		<div class="content">
		 			<span class="l">订单取消</span><span class="r"></span>
		 			<p>订单已取消，如有疑问，请咨询负责人</p>
		 		</div>		
		 	</div>
		</div>
		</if>
		<if condition="$order['status'] == 'G'">
		<button id="cancelorder">取消订单</button>	
		</if>
	</div>
	
	<!-- 订单详情 -->
	<div class="orderdetail">
		<div class="content">
			<ul>
				<li>
					<span>订单号：</span>
					<span>{$order.ordercode}</span>
					<span class="right"><switch name="order.status">
						<case value='G'>总部确认中</case>
						<case value='GC'>已确认</case>
						<case value='GCS'>已发货</case>
						<case value='GCSR'>已收货</case>
						<default/>已取消
					</switch></span>
					
				</li>
				<li>
					<span>订单金额：</span>
					<span>￥{$order.totalprice}</span>

				</li>

				<li>
					<span>下单时间：</span>
					<span>{:date("Y-m-d H:i:s",$order['date_joined'])}</span>											
				</li>
			</ul>
		</div>
		
		<div class="title">地址信息</div>
		<div class="content">
			<ul>
				<li>
					<span>收货人姓名：</span>
					<span>{$order.contact}</span>
				</li>
				<li>
					<span>手机：</span>
					<span>{$order.phone}</span>
				</li>
				<li>
					<span>详细地址：</span>
					<span>{$order.address}</span>
				</li>
			</ul>
		
		</div>	
		
		<div class="title">药品信息</div>
		
		<ul class="goodsinfo">
			<foreach name="detail" item="vo">
			<li>
				<span class="name">{$vo.gname}</span>
				<span class="num">x{$vo.quantity}</span>
				<span class="price">￥{$vo.price}</span>
			</li>
			</foreach>
		</ul>
	</div>	
</block>
	
<block name="js">
<script>
	$(function(){
		$('#cancelorder').click(function(){
			cancel('{$order.ordercode}',"{:U('Order/cancel')}");
		});
	});
	var oDetail = $('.orderdetail');
	var oStatus = $('.status');
	$('header ul .left').click(function(){
		if(oDetail.css('display')!='none'){
			$(this).css('border-bottom','1px solid rgb(109,203,239)');
			$('.status').css('display','block');
			oDetail.css('display','none');
			$('header ul .right').css('border-bottom','none');
		}
	});
	$('header ul .right').click(function(){
		if(oStatus.css('display')!='none'){
			$(this).css('border-bottom','1px solid rgb(109,203,239)');
			$('.orderdetail').css('display','block');
			oStatus.css('display','none');
			$('header ul .left').css('border-bottom','none');
		}
	});
	
	function cancel(ordercode,url) {
		if(!confirm('确定取消订单？')) return;
			$.ajax({
				type:"post",
				url:url,
				dataType:"json",
				data:{'ordercode':ordercode},
				success:function(data){
					if(data.status == 1) {
						location.reload();
					} else {
						alert(data.info);
					}
				}
			});
	}
</script>
</block>
