<extend name="Public:base" />
<block name="head">
<link rel="stylesheet" href="__PUBLIC__/css/myorder.css">
</block>
<block name="main">
<div class="container order">
	<div class="row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 top" >
			<h5>全部</h5>
		</div>
	
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 top" >
			<h5>待付款</h5>
		</div>
	
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 top" >
			<h5>待收货</h5>
		</div>
	</div>
</div>
<div style="height:16px;"></div>
	<div class="container content">
		<ul>
			<li>
				<span>订单号：</span>
				<span>4416779</span>
				<span class="right">待付款</span>
			</li>
			<li>
				<span>订单金额：</span>
				<span>￥378.00</span>

			</li>
			<li>
				<span>下单时间：</span>
				<span>2016-07-24 09:45:01</span>
				<a href="mdorder.html" class="tright">
					<span >详情</span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</a>
				
			</li>
		</ul>
	</div>
	<div class="container content">
		<ul>
			<li>
				<span>订单号：</span>
				<span>4416779</span>
				<span class="right">待付款</span>
			</li>
			<li>
				<span>订单金额：</span>
				<span>￥378.00</span>

			</li>
			<li>
				<span>下单时间：</span>
				<span>2016-07-24 09:45:01</span>
				<a href="mdorder.html" class="tright">
					<span >详情</span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</a>
				
			</li>
		</ul>
	</div>
	<div class="container content">
		<ul>
			<li>
				<span>订单号：</span>
				<span>4416779</span>
				<span class="right">待付款</span>
			</li>
			<li>
				<span>订单金额：</span>
				<span>￥378.00</span>

			</li>
			<li>
				<span>下单时间：</span>
				<span>2016-07-24 09:45:01</span>
				<a href="mdorder.html" class="tright">
					<span >详情</span>
					<span class="glyphicon glyphicon-menu-right"></span>
				</a>
				
			</li>
		</ul>
	</div>
</block>
