<extend name="Public:base" />
<block name="title">
订单列表
</block>
<block name="head">
<link rel="stylesheet" href="__PUBLIC__/css/order.css">
</block>
<block name="pageinfo">4</block>
<block name="other">
	<ul class="tab">
		<a href="{:U('Order/orderlist')}">
		<li class="left">
			全部
		</li>
		</a>
		<a href="{:U('Order/gettypeolist',array('type'=>urlencode('WC')))}">
		<li class="center">
			待确认
		</li>
		</a>
		<a href="{:U('Order/gettypeolist',array('type'=>urlencode('WR')))}">
		<li class="right">
			待收货
		</li>
		</a>
		<li style="display:none" id="statusinfo">{$statusinfo}</li>
	</ul>
</block>
<block name="main">
<div class="main">
		<ul>
			<foreach name="orderlist" item="vo">
			<li>
				<a href="{:U('Order/detail',array('ordercode'=>$vo['ordercode']))}">
					<p class="num">订单号：<span class="right">{$vo.ordercode}</span></p>
					<p class="money">订单金额：<span class="right">￥{$vo.totalprice}</span></p>
					<p class="time">
						下单时间：
						<span class="right">{:date('Y-m-d H:i:s',time())}</span> 
						<span class="iconfont">&#xe688;</span>
						<span class="fright">详情</span>
					</p>
				</a>
			</li>
			</foreach>
		</ul>
	</div>
</block>
<block name="wait">
	<!--等待-->
	<div id="shclFireballs"></div>
	
</block>
<block name="js">
<script src="/Public/Static/Public/js/jquery.shCircleLoader.js"></script>
<script>
	/*头部tab*/
	var oleft = $('header ul .left');
	var oright = $('header ul .right');
	var ocenter = $('header ul .center');
	oleft.click(function(){
		oleft.css('border-bottom','1px solid rgb(109,203,239)');
		oright.css('border-bottom','none');
		ocenter.css('border-bottom','none');
	});
	oright.click(function(){
		oright.css('border-bottom','1px solid rgb(109,203,239)');
		oleft.css('border-bottom','none');
		ocenter.css('border-bottom','none');

	});
	ocenter.click(function(){
		ocenter.css('border-bottom','1px solid rgb(109,203,239)');
		oright.css('border-bottom','none');
		oleft.css('border-bottom','none');

	});
	
	$(function(){
		status = $('#statusinfo').text();
		if(status == '0') return;
		if(status == 'WC') {
			ocenter = $('header ul .center');
			ocenter.css('border-bottom','1px solid rgb(109,203,239)');
			oright.css('border-bottom','none');
			oleft.css('border-bottom','none');
		}
		if(status == 'WR') {
			oright = $('header ul .right');
			oright.css('border-bottom','1px solid rgb(109,203,239)');
			oleft.css('border-bottom','none');
			ocenter.css('border-bottom','none');
		}
	})
</script>
</block>
