<extend name="Public:base" />
<block name="title">{$cname}</block>
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/css/stores.css">
</block>
<block name="backurl">
{:U('Index/index')}
</block>
<block name="pageinfo">5</block>
<block name="main">
	<div class="main">
		<div class="stores">
			<div class="bg">
			</div>
		 	<div class="top">
				<img src="__PUBLIC__/img/nmUser.png" alt="">
				<div class="name">
					<p>{$cname}</p>
				</div>
		 	</div>
		</div>
		
		<ul class="Tinfo">
	 		<h4>送货信息</h4>
			<foreach name="contacts" item="vo">
			<li>
				<p>
					<span class="iconfont left">&#xe621;</span><span class="name">{$vo.name}</span>
					<a href="{:U('User/editAddressJump',array('id'=>urlencode($vo['id'])))}" class="iconfont edit">&#x3433;</a>					
					<a onclick="return note()" href="{:U('User/deleteAddress',array('id'=>urlencode($vo['id'])))}" class="iconfont delete">&#xe619;</a>				
					
				</p>
				<p>
					<span class="iconfont left">&#xe61f;</span><span class="phone">{$vo.phone}</span>
				</p>
				<p>
					<span class="iconfont left">&#xe61e;</span>{$vo.address}
				</p>
			</li>
			</foreach>
			
		</ul>
		<div class="add">
			<a href="{:U('User/addAddress')}">
				<span class="iconfont">&#xe623;</span><span>添加</span>
			</a>
		</div>
		
		<div class="headquarters">
			<ul>
				<li>	
					<span class="iconfont left">&#xe610;</span>
					<span class="text">公司名称：{$config.companyname}</span>
					<!-- <span class="iconfont choise">&#xe688;</span> -->
				</li>
				<li>	
					<span class="iconfont left">&#xe61f;</span>
					<span class="text">总部电话：{$config.phone}</span>
					<!-- <span class="iconfont choise">&#xe688;</span> -->
				</li>
				<li>	
					<span class="iconfont left">&#xe61e;</span>
					<span class="text">总部地址：{$config.address}</span>	
					<div class="address">
						<img src="img/address.png" alt="">
					</div>
				</li>
			</ul>
		</div>
	</div>	
</block>
<block name="js">
<script>
	function note(){
		if(confirm('是否删除该收货地址？')){
			return true;
		}else{
			return false;
		}
		
	}
</script>
</block>

