<extend name="Public:base" />
<block name="title">
订单提交成功
</block>
<block name="head">
	<link rel="stylesheet" href="__PUBLIC__/css/success.css">
</block>

<block name="main">
	<div class="main">
		<div class="orderInfo">
			<p>订单编号：{$orderinfo.ordercode}</p>
			<p>订单金额：<span>￥{$orderinfo.totalprice}</span></p>
			<p>收货人: {$orderinfo.contact}</p>
			<p>手机号码: {$orderinfo.phone}</p>
			<p>收货地址: {$orderinfo.address}</p>
		</div>
		
		<a href="{:U('Order/detail',array('ordercode'=>$orderinfo['ordercode']))}">
			查看订单状态
		</a>	
	</div>
</block>

