<!-- 幻灯片-->
	<div class="slider">
	  <ul>
		 <li>
		    <a href="" target="_blank">
		    	<img src="__PUBLIC__/img/y1.jpg" alt="">
		    </a>
	    </li>
	    <li>
		    <a href="" target="_blank">
		    	<img src="__PUBLIC__/img/amxl.jpg" alt="">
		    </a>
	    </li>
	    <li>
		    <a href="" target="_blank">
		    	<img src="__PUBLIC__/img/y2.jpg" alt="">
		    </a>
	    </li>
	    <li>
		    <a href="" target="_blank">
		    	<img src="__PUBLIC__/img/aspl.jpg" alt="">
		    </a>
	    </li>   
		
	  </ul>
	</div>
<script type="text/javascript" src="/Public/Static/Public/js/yxMobileSlider.js"></script>
<script>
    $(".slider").yxMobileSlider({width:640,height:320,during:3000});
</script>
<!-- 幻灯片结束-->