<div class="left">		
	<span class="iconfont smallred">&#xe643;</span>
	<span class="money">总价钱：￥<strong id="totalprice"><php> if(session('?totalprice')){ echo session('totalprice'); } else { echo 0;} </php></strong></span>
</div>
<a id="carturl" href="{$carturl}" class="right">
	<if condition="ACTION_NAME eq 'gocart'">去结算<else/>去购物车</if>
</a>
<div class="mask"></div>
<input type="hidden" id="focusval" value=""/>
<script src="/Public/tipplug/jquery/jquery.cookie.js"></script>
<script src="/Public/Static/Public/js/smallred.js"></script>
<script>
	$(function(){
		smallred_init(20,30,18,5,-15,13); /*参数: 弧度 width height top right 字体大小*/
		refreshtotal();
		/* 购物车js */
		$(document).on('click','.add',function() {
			nbbm = $(this).prev().val();
			oldquantity = $(this).prev().prev().val();
			newquantity = Number(oldquantity) + 1;
			$(this).prev().prev().val(newquantity);
			smallred_addnum(1);
			price = getprice(this);
			addtotalprice(price);
			addcart(nbbm,1);
			if(smallred_getnum()=='0'){
				$('footer .mask').show();
			}else {
				$('footer .mask').hide();
			}
		});
		
		$(document).on('click','.sub',function() {
			nbbm = $(this).next().next().val();
			oldquantity = $(this).next().val();
			if(oldquantity <= 0) return;
			newquantity = Number(oldquantity) - 1;
			$(this).next().val(newquantity);
			smallred_subnum(1);
			price = getprice(this);
			subtotalprice(price);
			subcart(nbbm,1);
			if(smallred_getnum()=='0'){
				$('footer .mask').show();
			}else {
				$('footer .mask').hide();
			}
		});
		
		/* 获取输入焦点  */
		$(document).on('focus','.quantity',function(){
			$('#focusval').val($(this).val());
			$(this).val('');
		});
		
		/* 失去输入焦点数量移开  */
		$(document).on('blur','.quantity',function(){
			oldquantity = $('#focusval').val();
			newquantity = $(this).val();
			if(!checkval(newquantity)) {
				message('太阳升提醒','禁止输入除数字外的任何字符');
				$(this).val(oldquantity);
				$(this).focus();
				return false;
			}
			nbbm = $(this).next().val();
			if(newquantity=='') {
				$(this).val(oldquantity);
				return;
			}
			/* 处理前台数据为0的情况 */
			if(newquantity == 0) {
				$.ajax({
					type:"post",
					url:"{:U('Cart/dealzero')}",
					dataType:"json",
					data:{'nbbm':nbbm},
					success:function(data) {
						if(data.status==0) {
							message('太阳升提醒',data.info);
						}
					}
				});
			}
			if(newquantity < 0 ) {
				$(this).val(oldquantity);
				$(this).focus();
				return;
			}
			
			diff = Number(newquantity) - Number(oldquantity);
			if(diff == 0 ) return;
			price = parseFloat(getprice(this));
			a = Math.abs(diff);
			zprice = a * price;
			if(diff > 0 ) { /* 大于0的为增加 */
				addtotalprice(zprice);
				smallred_addnum(a);
				addcart(nbbm,a);
			} else {
				subtotalprice(zprice);
				smallred_subnum(a);
				subcart(nbbm,a);
			}
			
			if(smallred_getnum()=='0'){
				$('footer .mask').show();
			}else {
				$('footer .mask').hide();
			}
		});
	});
	
	function checkval(a) {
		if(isNaN(a)) return false;
		return true;
	}
	/* 添加总价钱 */
	function addtotalprice(price) {
		oldprice = $('#totalprice').text();
		newprice = parseFloat(oldprice) + parseFloat(price);
		$('#totalprice').text(newprice.toFixed(2));
	}
	
	/* 减总价钱 */
	function subtotalprice(price) {
		oldprice = $('#totalprice').text();
		newprice = parseFloat(oldprice) - parseFloat(price);
		$('#totalprice').text(newprice.toFixed(2));
	}
	function addcart(nbbm,quantity) {
		totalprice = $('#totalprice').text();
		totalquantity = smallred_getnum();
		$.ajax({
			type:"post",
			url:"{:U('Cart/addcart')}",
			dataType:"json",
			data:{'nbbm':nbbm,'quantity':quantity,'totalprice':totalprice,'totalquantity':totalquantity},
			success:function(data) {
				if(data.status == 0) {
					message('太阳升提醒',data.info);
				}
			}
		});
	}
	
	function subcart(nbbm,quantity) {
		totalprice = $('#totalprice').text();
		totalquantity = smallred_getnum();
		$.ajax({
			type:"post",
			url:"{:U('Cart/subcart')}",
			dataType:"json",
			data:{'nbbm':nbbm,'quantity':quantity,'totalprice':totalprice,'totalquantity':totalquantity},
			success:function(data) {
				if(data.status == 0) {
					message('太阳升提醒',data.info);
				}
			}
		});
	}
	
	function getprice(a) {
		price = $(a).parent().prev().prev().prev().children().text();
		return price;
	}
	
	function refreshtotal() {
		$.ajax({
			type:"get",
			url:"{:U('Cart/gettotal')}",
			success:function(data){
				if(data.status==1) {
					total = data.data;
					$('#totalprice').text(total.totalprice);
					smallred_setnum(total.totalquantity);
					if(total.totalquantity=='0'){
						$('footer .mask').show();
					}else {
						$('footer .mask').hide();
					}
				}
			}
		});
	}
</script>