@charset "UTF-8";

.deleteAll {
	z-index:100;
	color:#fff;
	position:fixed;
	top:100px;
	right:0;
	font-size:16px;
	height: 45px;
	width:45px;
	line-height:45px;
	text-align:center;
	font-weight:bold;
	border-radius:50%;
	box-shadow:0px 0px 4px #aaa;
	background: -webkit-linear-gradient(rgb(11,135,186), rgb(112,205,239)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgb(11,135,186), rgb(112,205,239)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgb(11,135,186), rgb(112,205,239)); /*  Firefox 3.6 - 15 */
    background: linear-gradient(rgb(11,135,186), rgb(112,205,239)); /* 标准的语法（必须放在最后） */
}



	

.main ul li {
	width: 100%;
	border-bottom:1px solid #ccc;
	padding-bottom:25px;
	height:120px;
}

.main ul li .img{
	display: inline-block;
	width: 25%;
	padding:5px;
	height:100px;
	
}

.main ul li .img img {
	width:100%;
	max-width: 200px;
	max-height:100px;
}

.main ul li .info {
	margin-top:10px;
	display: inline-block;
	width:70%;
	float: right;
	font-size: 14px;
	font-weight:bold;
}

.main ul li .info p {
	margin:0 0 2px 0;
	line-height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	
}

.main ul li .info .addsub {
	margin-top: 5px;
}

.main ul li .info .money {
	display: inline-block;
	color:#cd0000;
	
}

.main ul li .info .sail {
	color:#888;
	font-size:10px;
}

.main ul li .info .num {
	margin-top:5px;
	display:block;
	color:#888;

}

.main ul li .info .addsub button {
	padding:0;
	margin:0;
	display:inline-block;
	background:#eee;
	border:1px solid rgb(204,204,204);
	width: 34px;
	height:36px;
	z-index:-1;
}

.main ul li .info .addsub .sub {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-right:none;
	margin-right:-4px;

}

.main ul li .info .addsub .add {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-left:none;
	margin-left:-4px;
}

.main ul li .info .addsub input {
	display:inline-block;
	z-index: 1;
	background:#fff;
	border-radius:0;
	box-shadow:none;
	padding:0;
	margin:0;
	width: 55px;
	height: 34px;
	border:1px solid rgb(204,204,204);	
	text-align: center;
}

footer {
	line-height: 50px;
	margin:0;
	padding:0;
}

footer .left {
	display: inline-block;
	float: left;
	width: 70%;
	
}

footer .right {
	display: inline-block;
	background: rgb(109,203,239);
	width: 30%;
	
}


footer .left .money {
	margin:0 10px;
}

