@charset "UTF-8";

body {
	background:#eee;
}

.Hspacerlayer {
	height: 50px;
}
.main .info {
	background: #fff;
	
	border-bottom: 1px solid #ccc;
}

.main .info .img {
	width: 40%;
	margin:0 auto; 
	padding-bottom: 10px;

}

.main .info .img img {
	width: 100%;
}

.main .info .content {
	padding:10px 10px 10px 20px;
	border-top: 1px solid #ccc;
	font-size: 15px;

}

.main .info .content p {
	margin:0;
	line-height: 30px;
}

.main .info .content .price {
	font-size: 18px;
	font-weight: bold;
	color: #cd0000;
	
}
.main .info .content .sail {
	color:#888;
	font-size:10px;
}

.main .info .content .num {
	color: #666;
}

/* 加减控件 */
.main .info .content .addsub {
	margin-top: 5px;
	line-height:37px;
	box-sizing: border-box;
}
.main .info .content .addsub button {
	padding:0;
	margin:0;
	display:inline-block;
	background:#eee;
	border:1px solid rgb(204,204,204);
	width: 34px;
	height:36px;
	z-index:-1;
}
.main .info .content .addsub input{
	display:inline-block;
	z-index: 1;
	background:#fff;
	border-radius:0;
	box-shadow:none;
	padding:0;
	margin:0;
	width: 55px;
	height: 34px;
	border:1px solid rgb(204,204,204);	
	text-align: center;
}


.main .info .content .addsub .sub {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-right:none;
	margin-right:-4px;

}

.main .info .content .addsub .add {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border-left:none;
	margin-left:-4px;
}

.main .detailInfo {
	margin-top:10px;
	background: #fff;
	padding:10px 10px 10px 20px;
}

footer {
	line-height: 50px;
	margin:0;
	padding:0;
}

footer .left {
	display: inline-block;
	float: left;
	width: 70%;
	position: relative;
}



footer .right {
	display: inline-block;
	background: rgb(109,203,239);
	width: 30%;
}

footer .left .money {
	margin:0 10px;
}