@charset "UTF-8";
body {
	background: #eee;
	text-align: left;
}

.main {
	padding:20px 10px 10px 10px;
	background: #fff;
	border-bottom:1px solid #ccc;
}


.main ul {
	width: 100%;
	text-align: center;

}

.main .type li {
	display: inline-block;
	/* box-sizing: border-box; */
	width:32%;
	margin-bottom: 20px;
}

.main .type li a {
	display: block;
	margin:0 auto;
	line-height: 50px;
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow:0px 0px 4px rgb(112,205,239);
	font-size: 15px;
	color: #666;
}


.title{
	padding:10px;
	font-size: 15px;
	color: #555;
	border-bottom:1px solid #ccc;

}


.new {
	width: 100%;
	background: #fff;
	margin:0;
	padding:0;
	border-bottom:1px solid #ccc;
	height:100px;
}

.new li {
	
	display: inline-block;
	width: 49%;
	height:100px;
}

.new .rightli {
	border-left:1px solid #ccc;
	
}

.new li .left {
	display: inline-block;
	width: 50%;
	float: left;
}

.new li .left p {
	
	padding-left: 10px;
	color: #666;
}

.new li .left .name {
	font-size:15px;
	margin-top:10px;
	border-left:2px solid rgb(109,203,239);
}
.new li .left .info {
	margin-top:5px;
	font-size:14px;
	font-weight:bold;
	
}
.new li .right {
	display: inline-block;
	width: 50%;
	
}

.new li .img {
	display: inline-block;
	width:100%;
	max-height:100px;
	
}

.new li div .img img {
	display: inline-block;
	width:100%;
	max-height:100px;
	
}


