@charset "UTF-8";

.Hspacerlayer {
	height: 98px;
}

header .navigation{
	clear: both;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
header .navigation .tab {
	text-align: center;
	display: inline-block;
	width: 32%;
	line-height: 45px;


}

header .navigation .leftTab {
	position: relative;
}

header .navigation .leftTab .down {
	display: none;
	position: absolute;
	text-align: left;
	width: 100%;
	top:40px;
	height:250px;
	overflow: auto;
	background:#fff;
	font-size: 15px;
	border-radius:5px;
	box-shadow:0px 0px 4px #ccc;
}

header .navigation .leftTab .down a {
	padding-left:10px;
	display: block;
	border-bottom:1px solid #ccc;
}

header .navigation .div .iconfont {
	color: #666;
}


.main {
	padding-bottom:10px;
}

.main ul li {
	width: 100%;
	padding-top: 5px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ccc;
	height:100px;
}

.main ul li .left {
	box-sizing: border-box;
	padding:5px;
	width: 28%;
	height:100px;
	display: inline-block;

}
.main ul li .left img {
	width: 100%;
	max-height:100px;
	max-width: 500px;

}

.main ul li .right {
	font-weight: bold;
	color: #000;
	font-size: 14px;
	text-align: left;
	float: right;
	width: 70%;
}
.main ul li .right p {
	margin:5px 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}



.main ul li .right .money {
	color:#cd0000;
	
}

.main ul li .right .sail {
	color:#888;
	font-size:10px;
}

.main ul li .right .num {
	
	color:#888;
}
.main ul li .right .addsub {
	margin-top: 10px;
}


.main ul li .right .addsub button {
	display: inline-block;
	padding:0;
	margin:0;
	border:1px solid #ccc;
	width: 30px;
	height: 28px;
}
.main ul li .right .addsub input{
	z-index: -1;
	width: 40px;
	height: 24px;
	border: none;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:-4px;
	text-align: center;
}


.main ul li .right .addsub .sub {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;

}

.main ul li .right .addsub .add {
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}



footer {
	line-height: 50px;
	margin:0;
	padding:0;

}

footer .left {
	display: inline-block;
	float: left;
	width: 70%;
	
}

footer .right {
	display: inline-block;
	background: rgb(109,203,239);
	width: 30%;
	
}

footer .mask {
	display:none;
	position:absolute;
	z-index:110;
	width:30%;
	height:50px;
	top:0;
	right:0;
	background:#666;
	filter:alpha(opacity=50);  
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;  
}

footer .left .money {
	margin:0 10px;
}


/*等待*/


#shclFireballs{
	
	width:50x; 
	height:50px; 
	margin:-10px auto 0 auto;
	
}

