@charset "UTF-8";

body {
	background: #eee;
}

header {
	position:relative;
}

header .tab {
	clear: both;
	width: 100%;
	border-bottom: 1px solid #ccc;
	text-align: center;
	overflow: hidden;
	
}



header .tab li{
	
	display: inline-block;
	width: 23%;
	line-height: 40px;
	text-align: center;

}

header .tab .left {
	border-bottom: 1px solid rgb(109,203,239);
}

header .tab .right span {
	margin-left:5px;
}

header .tab .right .more {
	display:none;
	position:absolute;
	top:85px;
	left:75%;
	width: 23%;
	border:1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #888;
	text-align:center;
	background:#fff;
	
}
header .tab .right .more a{
	display:block;
	line-height:40px;
	border-bottom:1px solid #ccc;
}

.Hspacerlayer {
	height:0px;
}

.main ul li {
	background: #fff;
	padding:10px 10px 10px 20px;
	color: #444;
	font-size: 14px;
	margin-bottom:10px;
}

.main ul li p {
	margin:0;
	line-height: 30px;
}
.main ul li p .right {
	margin-left: 15px;
}

.main ul li .status {
	float:right;
	color:#cd0000;
}

.main ul li .num span {
	margin-left: 30px;
}

.main ul li .money span{
	color: #cd0000;
}

.main ul li .time .fright {
	float: right;
	margin-right: 5px;
}
.main ul li .time .iconfont {
	float: right;
}


/*等待*/

#shclFireballs{
	
	width:100px; height:100px; margin:100px auto 0px auto;
}