@charset "UTF-8";

.smallred {
	position:relative;
}

.smallred .smallredin{
	background: red;
	position: absolute;
	color: #fff;
	right:2px;
	top:5px;
	height:16px;
	width:16px;
	border-radius:10px;
	display:line-height;
	padding:0px;
	font-size:13px;
	line-height:16;
	text-align: center;
	vertical-align:baseline;
	white-space: nowrap;	
	
}