<extend name="Public:base" />
<block name="main">
<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
	    <div class="col-lg-12">
	        <ol class="breadcrumb">
	        	<li class="active">
	                <i class="fa fa-dashboard"></i> 栏目管理
	            </li>
	        </ol>
	    </div>
	</div>
	
	<div class="row">
		<ul id="storeTab" class="nav nav-tabs">
		   <li class="active">
		      <a href="#sections" data-toggle="tab">栏目设置</a>
		   </li>
		</ul>
	
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="sections">
			<br/>
			<div class="row">
		 	  <div class="col-lg-12">
		        <ol class="breadcrumb">
		            <li>
		                <a href="{:U('Sections/addsections')}"><i class="glyphicon glyphicon-plus"></i> 添加栏目</a>
		            </li>
		        </ol>
		      </div>
			  <div class="col-lg-12">
			      <div class="table-responsive">
			          <table class="table table-bordered table-hover table-striped">
			              <thead>
			                  <tr>
			                  	  <th>栏目ID</th>
			                      <th>栏目名称</th>
			                      <th>栏目URL(U函数参数)</th>
			                      <th>排序(越小越靠前)</th>
			                      <th>状态</th>
			                      <th>操作</th>
			                  </tr>
			              </thead>
			              <tbody>
			                 <foreach name="sectionList" item="sec">
			                  <tr>
			                  	<td>{$sec.id}</td>
			                      <td><if condition="$sec['parent'] neq 0 ">|</if><?php echo str_repeat('_',$sec['level']*4); ?>{$sec.name}</td>
			                      <td>{$sec.url}</td>
			                      <td>{$sec.sort}</td>
			                      <td><if condition="$sec['is_active'] eq 0">停用<else/>使用中</if></td>
			                      <td>
			                      <a href="{:U('Sections/editsections',array('secid'=>$sec['id']))}"><span>编 辑</span></a>
			                      </td>
			                  </tr>
			                 </foreach>
			              </tbody>
			          </table>
			          {$page}
			      </div>
			  </div>
			</div>
		</div>
	</div>
	</div>
</div>
</block>